body {
    background-image: linear-gradient(to bottom right,rgba(79,51,176,1),rgba(210,53,165));
}
.container {
    text-align: center;
    margin-top: 23px
}

table {
    margin: auto;
}

input {
    border-radius: 21px;
    border: 5px solid #244246;
    font-size: 34px;
    height: 65px;
    width: 456px;
}

button {
    border-radius: 20px;
    font-size: 40px;
    background: #8fa09d;
    width: 102px;
    height: 90px;
    margin: 6px;
    cursor: pointer;
    transition: all 200ms ease;

}

button:hover {
    transform: scale(1.1);
    background-color: gold;
}

button#equal {
    height: 130px;
}

.calculator {
    border: 4px solid #626913;
    background-color: #8390ef;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}

h1 {
    font-size: 100 px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #82e9e2;
    
}